branches:
  - trunk
repositoryUrl: "https://github.com/stone-home/Utility-CoffeeBrew"
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"
